{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{form_start(form)}}

        {{form_row(form.name)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        {{form_row(form.phoneNumber)}}
        {{form_row(form.address)}}
        {{form_row(form.country)}}
        {{form_row(form.postalCode)}}
    
        <button class="btn btn-primary">Save</button>

    {{form_end(form)}}


    <a href="{{ path('app_users_index') }}">back to list</a>


{% endblock %}
