{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}

    <div class="flex justify-center">
        <h1 class="text-5xl">User</h1>
    </div>
 <div class="flex ml-16 align-middle justify-center items-center mt-16" id="list">
    <div id="listOfUser" class=" my-2 flex ">
                                        <div class=" w-96 h-auto p-2 rounded-md ml-2 mr-2 mt-2 mb-2 shadow-xl shadow-stone text-center  ">
                                            <p class=" text-3xl mb-3">{{user.name}} - {{user.lastname}} <i class="fa-solid fa-user"></i><br></p> 
                                            <p class=" text-3xl mb-3">{{user.phoneNumber ? user.phoneNumber : "Not Specified"}} <i class="fa-solid fa-mobile-button"></i><br></p> 
                                            <p class=" text-3xl mb-3">{{user.country ? user.country : "Not Specified" }} <i class="fa-solid fa-globe"></i><br></p> 
                                            <p class=" text-3xl mb-3">{{user.address ? user.address : "Not Specified"}} <i class="fa-solid fa-map-marker"></i><br></p> 
                                            <p class=" text-3xl mb-3">{{user.postalCode ? user.postalCode : "Not Specified"}} <i class="fa-solid fa-map-marker"></i><br></p> 
                                            <p class=" text-3xl mb-3">{{user.email ? user.email : "Not Specified"}} <i class="fa-solid fa-envelope"></i><br></p> 
                                            <p class=" text-3xl mb-3"><a href="{{ path('app_users_edit', {'id': user.id}) }}">Edit profile</a></p>
                                            <br>
                                                {% if user.products|length > 0 %}
                                                    <p class=" text-3xl mb-3"><a href="{{ path('app_show_product_user', {'userID': user.id}) }}">Edit your products</a></p>
                                                    <p class=" text-3xl mb-3"><a href="{{ path('app_create_product') }}">Add a new product</a></p>
                                                {% else %}
                                                    <p class=" text-3xl mb-3"><a href="{{ path('app_create_product') }}">Add your first product</a></p>
                                                {% endif %}
                                            <p class=" text-3xl mb-3"><a href="{{ path('app_home') }}">back to list</a></p>
                                        </div>
                                    </div>
    </div>

   
{% endblock %}
