{% extends 'base.html.twig' %}

{% block title %}✨ HoloDripzz ✨{% endblock %}



{% block body %}
    <nav class=" m-auto bg-white border-b-gray-400 border w-screen h-24 p-auto fixed">
        <section>
            <ul class=" flex flex-row content-end justify-end mr-2">
                <li class=" mt-4">
                {% if app.user %}
                    <a href="{{ path('app_users_show') }}"><i class="fa-regular fa-user mr-5"></i></a>
                    <a href="{{ path('app_cart_products_show', {'id': app.user.id}) }}"><i class="fa-solid fa-cart-shopping mr-5"></i></a>
                    <a href=""><i class="fa-solid fa-magnifying-glass mr-5"></i></a>
                {% else %}
                    <a href="{{ path('app_login') }}"><i class="fa-regular fa-user mr-5"></i></a>
                    <a href="{{ path('app_login') }}"><i class="fa-solid fa-cart-shopping mr-5"></i></a>
                    <a href="{{ path('app_login') }}"><i class="fa-solid fa-magnifying-glass mr-5"></i></a>
                {% endif %}
                </li>

            </ul>
        </section>
        <section>
            <ul class=" flex flex-row justify-center mt-auto">
                <li class=" mr-5 hover:text-gray-400 duration-300 ease-in-out"><a href="{{ path('app_home') }}">Home</a></li>
                <li class=" mr-5 hover:text-gray-400 duration-300 ease-in-out"><a href="{{ path('app_index_product') }}">Omocat product</a></li>
                <li class=" mr-5 hover:text-gray-400 duration-300 ease-in-out"><a href="">About</a></li>
                <li class=" mr-5 hover:text-gray-400 duration-300 ease-in-out"><a href="">Contact</a></li>
            </ul>
        </section>
    </nav>
    <section>  

        <div class="flex items-center justify-center h-screen bg-cover bg-no-repeat bg-fixed bg-center bg-[url('https://hololive.hololivepro.com/wp-content/uploads/2022/07/0_holocouncil_release_1.jpg')]" >
            <div class=" group hidden" data-information="boxMessage">
                ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            </div>
            <div class=" p-5 bg-black bg-opacity-60 text-xl rounded-xl" data-information="showMoreInformation">
                <h1 class="text-5xl text-white justify-center"><a class=" cursor-pointer">HoloDripzz</a></h1>
            </div>
        </div>
    </section>

    <section>
        <div class=" flex items-center justify-center h-screen bg-fixed bg-center bg-[url('https://www.otaquest.com/wp-content/uploads/2018/09/hero.1_3pgra1iuret1kbd1nm3yc-1024x576.jpg')]">
            <div class=" group hidden" data-information="boxMessage">
                ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            </div>
            <div class=" p-5 bg-black bg-opacity-60 text-xl rounded-xl" >
                <h1 class="text-5xl text-white justify-center"><a class=" cursor-pointer">Featured Products</a></h1>
            </div>
        </div>
    </section>

    <section>

        <div class=" flex items-center justify-center h-screen bg-fixed bg-center bg-[url('https://cdn.shopify.com/s/files/1/0330/1705/files/E2D8Z0dVgAAVFTh-1.jpg?v=1638159799x')]">
            <div class=" group hidden" data-information="boxMessage">
                ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            </div>
            <div class=" p-5 bg-black bg-opacity-60 text-xl rounded-xl" data-information="showMoreInformation">
                <h1 class="text-5xl text-white justify-center"><a class=" cursor-pointer">New Products</a></h1>
            </div>
        </div>
    </section>

    <section class=" flex flex-row justify-center items-center m-auto">
        <div class=" p-5 bg-black bg-opacity-60 text-xl rounded-xl w-1/4" data-information="showMoreInformation" >
            <h1 class="text-5xl text-white justify-center text-center"><a class=" cursor-pointer">Top Seller</a></h1>
        </div>
    <section>
    <section class="grid grid-cols-3 mt-4 content-center gap-2">
        {% for product in products %}
        <article>
            <div class=" p-24 w-auto h-auto">
                <div class=" flex flex-col ">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6sj18N6syLyC0Tj_fjV0f4Rw3FvbwxvBzGnDGjM6mFg-A5wtmuTyDO7V_znIXMkLhPR8&usqp=CAU" alt="">
                    <h1 class=" text-center text-gray-500 mt-2">{{ product.name }}</h1>
                    <p class=" text-center text-gray-500"> From $ {{ product.price }}</p>
                </div>
        </article>
        {% endfor %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('./build/styling.js') }}"> </script>
{% endblock %}