{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
 {{ include('navbar.html.twig') }}

    <section class="grid grid-cols-3 content-center">
        {% for product in products %}
        <article>
            <div class=" p-24 w-auto h-auto" data-idProduct="{{product.id}}">
                <div class=" flex flex-col" data-idProduct="{{product.id}}">
                    <img data-classProduct="productRedirect" data-idProduct="{{product.id}}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6sj18N6syLyC0Tj_fjV0f4Rw3FvbwxvBzGnDGjM6mFg-A5wtmuTyDO7V_znIXMkLhPR8&usqp=CAU" alt="">
                    <h1 class=" text-center text-gray-500 mt-2">{{ product.name }}</h1>
                    <p class=" text-center text-gray-500"> From $ {{ product.price }}</p>
{#                     {% if product.stock > 0 %}
                        <p class=" text-center text-gray-500">In stock</p>
                    {% else %}
                        <p class=" text-center text-gray-500">Out of stock</p>
                    {% endif %}
                    {% if product.stock > 0 %}
                        <a href="{{ path('app_cart_products_add', {'id': product.id}) }}" class=" text-center text-gray-500">Add to cart</a>
                    {% endif %} #}

                    {% if app.user.id == product.seller.id %}
                        <a href="{{ path('app_update_product', {'id': product.id}) }}" class=" text-center text-gray-500">Edit</a>
                    {% endif %}
                </div>
        </article>
        {% endfor %}
    </section>

    <a href="{{ path('app_create_product') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>
    console.log('test');
        window.addEventListener('DOMContentLoaded', (event) => {
            const productRedirect = document.querySelectorAll("[data-classProduct='productRedirect']");
            productRedirect.forEach((product) => {
                product.addEventListener('click', (event) => 
                {
                    event.preventDefault();
                    window.location.href = `/product/${event.target.dataset.idproduct}`;
                })
            })
        })
    </script>
{% endblock %}